.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  margin-bottom: -120px;
}

body {
  padding: 0;
  margin: 0;
}

.push{
  margin-top: 120px;
}

.pdf-preview{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2{
  font-size: 52.5px; 
 }